{% include "Navigation.html" %}
{% load extrafunction %}
<style>
    .profile_link{
    text-decoration:none;
    }
</style>

<section style="background-color: #eee; ">
    <div class="container py-5 my-0">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if customer_profile.image %}
                        <img src="{{customer_profile.image.url}}"
                             alt="avatar"
                             class="profile_round img-fluid" style="width: 150px;">
                        {%else%}
                        <img src="static/person_icon.jpg"
                             alt="avatar"
                             class="profile_round img-fluid" style="width: 150px;">
                        {%endif%}
                        <h5 class="my-3">{{customer_profile|get_username:customer}}</h5>
                        <p class="text-muted mb-4">{{customer_profile.description}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="chat" class="btn btn-outline-primary ms-1">
                                Message
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{customer_profile.full_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{customer_profile|get_email:customer}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{customer_profile.gender}}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 w-100">
                        <div class="card mb-4 mb-md-0">

                            <div class="card mb-4 mb-lg-0">
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush rounded-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
<!--                                            <i class="fas fa-globe fa-lg text-warning"></i>-->
                                            <i class="bi bi-instagram"></i>
                                           <p class="mb-0 "><a href = "{{customer_profile.instagram}}" alt = "insta id" class = "profile_link text-dark">{{profile.instagram}}</a></p>

                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
<!--                                            <i class="fab fa-github fa-lg"-->
<!--                                               style="color: #333333;"></i>-->
                                            <i class="bi bi-facebook" style="color: #333333;"></i>
                                            <p class="mb-0 "><a href = "{{customer_profile.facebook}}" alt = "insta id" class = "profile_link text-dark">{{profile.facebook}}</a></p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
<!--                                            <i class="fab fa-twitter fa-lg"-->
<!--                                               style="color: #55acee;"></i>-->
                                            <i class="bi bi-twitter"></i>

                                            <p class="mb-0 "><a href = "{{customer_profile.twitter}}" alt = "insta id" class = "profile_link text-dark">{{profile.twitter}}</a></p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
<!--                                            <i class="fab fa-instagram fa-lg"-->
<!--                                               style="color: #ac2bac;"></i>-->
                                            <i class="bi bi-linkedin"></i>

                                            <p class="mb-0 "><a href = "{{customer_profile.linkedin}}" alt = "insta id" class = "profile_link text-dark">{{profile.linkedin}}</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>